:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  --Pink: #ad28eb;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: url("assets/images/background-pattern-desktop.svg");
  background-color: var(--Light-pink);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.logo img {
  width: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 37.5rem;
  padding: 2.5rem;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--White);
  box-shadow: 0 2rem 3.5rem 0 rgba(80, 0, 118, 0.1);
}

h1 {
  color: var(--Dark-purple);
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: var(--Dark-purple);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h2:hover {
  cursor: pointer;
  color: var(--Pink);
}

.icons {
  cursor: pointer;
}

.answers {
  color: var(--Grayish-purple);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.heading-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

hr {
  height: 0.0625rem;
  width: 32.5rem;
  background: var(--Light-pink);
  margin: 0;
  opacity: 0.2;
}

@media screen and (max-width: 37.5rem) {
  main {
    max-width: 20.4375rem;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 0.5rem;
  }

  .logo img {
    width: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .answers {
    font-size: 0.875rem;
  }

  hr {
    width: 17.4375rem;
  }
}

@media screen and (max-width: 26.5625rem) {
  body {
    background-image: url("assets/images/background-pattern-mobile.svg");
    background-size: contain;
  }
}
